.productCard {
    background-color: #ffffff;
    border: none;
}

.cardBody {
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
    cursor: pointer;
}

.productCard:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.111);
    transition: 0.2s ease-in-out;
}

.productText {
    white-space: pre-line;
}

.imageStyle {
    width: 100%;
    /* height: 220px; */
    object-fit: contain;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.cardHeader {
    background-color: white;
}