.blockCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.textCenter {
    text-align: center;
    align-items: center;
}

.flexGapBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.marginTop {
    margin-top: 33px;
    white-space: nowrap;
}

.fontSize {
    font-size: 0.9em;
}

.oldPrice {
    font-size: 0.9em;
    text-decoration: line-through;
}

.newPrice {
    font-weight: 600;
}

.oldPriceDiv {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}